<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mck.activiti.mapper.VacationOrderMapper">


    <select id="queryVacationOrder" resultType="com.mck.activiti.model.vo.VacationOrderVo" parameterType="string">
        SELECT
            t.*, t2.user_name,
            t.vacation_id AS orderNo,
            t3.process_id,
            t4.dict_name type_name
        FROM
            t_vacation_order t
        LEFT JOIN sys_user t2 ON t.user_id = t2.user_id
        LEFT JOIN tf_flow_audit t3 ON t3.order_no = t.vacation_id
        LEFT JOIN sys_dict t4 ON t4.dict_value = t.vacation_type
        WHERE t2.user_id = #{userId}
        ORDER BY t.create_time DESC
    </select>
</mapper>